@page "/approve-forward/{id}"
@model Louvre.Pages.ApproveForwardModel
@{
    ViewData["Title"] = "Approve Forward";
    ViewData["ParentMenu"] = "Request";
    ViewData["PageURL"] = "approve-forward";
    ViewData["MasterPageURL"] = "new-forwards";
}

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <partial name="_BreadCrumb" />
            <form method="post" id="formBasic" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-9">
                        <input type="hidden" asp-for="Data.RequestID" />
                        <input type="hidden" asp-for="Data.BranchID" />
                        <input type="hidden" asp-for="Data.SlotID" />
                        <input type="hidden" asp-for="Data.RequestedByID" />
                        <div class="card card-with-nav">
                            <div class="card-header">
                                <div class="row row-nav-line">
                                    <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                        <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Basic Information</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">

                                    @if (Model.Data != null && Model.Data.RequestNo != 0)
                                    {
                                        <div class="col-md-12 mb-3">Request No: @Model.Data.RequestNo</div>
                                    }

                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>Requester</label>
                                            <input type="text" class="form-control" asp-for="Data.EmployeeName" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Designation</label>
                                            <input type="text" class="form-control" asp-for="Data.DesignationName" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Company</label>
                                            <input type="text" class="form-control" asp-for="Data.CompanyName" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Email address</label>
                                            <input type="text" class="form-control" asp-for="Data.Email" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Mobile No</label>
                                            <input type="text" class="form-control" asp-for="Data.ContactNumber" readonly />
                                        </div>
                                    </div>
                                </div>

                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Company</label>
                                            <input type="text" class="form-control" asp-for="Data.BranchName" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Sub Company</label>
                                            <input type="text" class="form-control" asp-for="Data.SubBranchName" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Request Mode</label>
                                            <input type="text" class="form-control" asp-for="Data.ModeName" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Location</label>
                                            <input type="text" class="form-control" asp-for="Data.RequestedLocationName" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Date</label>
                                            <input type="date" class="form-control" asp-for="Data.RequestedDate" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Choose Slot</label>
                                            <input type="text" class="form-control" asp-for="Data.RequestedSlot" readonly />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Driver</label>
                                            <select class="form-control" asp-for="Vehicles.EmployeeID" id="EmployeeID" asp-items="ViewBag.EmployeesSelectList">
                                                <option></option>
                                                <option value="-1">--New--</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Vehicle</label>
                                            <select class="form-control" asp-for="Vehicles.VehicleID" id="VehicleID" asp-items="ViewBag.Vehicles">
                                                <option></option>
                                                <option value="-1">--New--</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Passengers Count</label>
                                            <input type="text" asp-for="Vehicles.PassengerCount" class="form-control integer" required />
                                        </div>
                                    </div>
                                    @if (!string.IsNullOrEmpty(Model.Data.MeterialTypeName))
                                    {
                                        <div class="col-md-6">
                                            <div class="form-group form-group-default">
                                                <label>Material Type</label>
                                                <input type="text" class="form-control" asp-for="Data.MeterialTypeName" readonly />
                                            </div>
                                        </div>

                                        <div class='col-md-6'>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" asp-for="Data.ContainsExplosive">
                                                    <span class="form-check-sign">Contains hazardous material</span>
                                                </label>
                                            </div>
                                        </div>
                                    }
                                    @if (!Model.Data.IsIn)
                                    {
                                        <div class='col-md-6'>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" asp-for="Data.IsDisposalRequired">
                                                    <span class="form-check-sign">Disposal Required</span>
                                                </label>
                                            </div>
                                        </div>
                                    }

                                    <div class='col-md-12'>
                                        <div class="form-group form-group-default">
                                            <label style="color:red">Forward Reason</label>
                                            <textarea style="color:red" type="text" class="form-control" asp-for="Data.Remarks" readonly></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 overflow-table">
                                        <table id="gridPassengers" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                            <thead>
                                                <tr>
                                                    <th>Co Passenger</th>
                                                    <th>Designation</th>
                                                    <th>Company</th>
                                                    <th>Mobile No</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0, j = 1; i < Model.Passengers.Count(); i++, j++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Passengers[i].EmployeeName">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Passengers[i].DesignationName">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Passengers[i].CompanyName">
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Passengers[i].ContactNumber">
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (Model.Data.RequestModeID != 2)
                        {
                            <div class="card card-with-nav">
                                <div class="card-header">
                                    <div class="row row-nav-line">
                                        <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                            <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Material information</a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">

                                    <div class="row">
                                        @if (Model.Data.IsProjectAsset)
                                        {

                                            <div class="col-md-6">
                                                <div class="form-group form-group-default">
                                                    <label>PO Number</label>
                                                    <input type="text" class="form-control" asp-for="Data.PONumber" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group form-group-default">
                                                    <label>PO Date</label>
                                                    <input type="date" class="form-control" asp-for="Data.PODate" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group form-group-default">
                                                    <label>Delivery Date</label>
                                                    <input type="date" class="form-control" asp-for="Data.DeliveryDate" />
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group form-group-default">
                                                    <label>PO Owner</label>
                                                    <select class="form-control" id="cmbPOOwner" asp-for="Data.POOwnerID" asp-items="ViewBag.POOwners">
                                                    </select>
                                                </div>
                                            </div>

                                            @if (Model.Spares.Count > 0)
                                            {
                                                <div class="col-12">
                                                    Spares
                                                </div>

                                                <div class="col-md-12 mt-2 overflow-table">
                                                    <table id="gridSpare" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                                        <thead>
                                                            <tr>
                                                                <th>SN</th>
                                                                <th>Item Code</th>
                                                                <th>Item Name</th>
                                                                <th>Unit</th>
                                                                <th>Quantity</th>
                                                                <th>Price (AED)</th>
                                                                <th>Value (AED)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int i = 0, j = 1; i < Model.Spares.Count(); i++, j++)
                                                            {
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <label>@j</label>
                                                                    </td>
                                                                    <td style="width:150px">
                                                                        @Model.Spares[i].Code
                                                                    </td>
                                                                    <td style="min-width:200px">
                                                                        @Model.Spares[i].Name
                                                                    </td>
                                                                    <td>
                                                                        @Model.Spares[i].Unit
                                                                    </td>
                                                                    <td>
                                                                        @Model.Spares[i].Quantity
                                                                    </td>
                                                                    <td>
                                                                        @Model.Spares[i].Price
                                                                    </td>
                                                                    <td>
                                                                        @Model.Spares[i].Value
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }

                                            @if (Model.Consumables.Count > 0)
                                            {
                                                <div class="col-12 mt-2">
                                                    Consumables
                                                </div>

                                                <div class="col-md-12 mt-2 overflow-table">
                                                    <table id="gridConsumable" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                                        <thead>
                                                            <tr>
                                                                <th>SN</th>
                                                                <th>Item Code</th>
                                                                <th>Item Name</th>
                                                                <th>Unit</th>
                                                                <th>Quantity</th>
                                                                <th>Price (AED)</th>
                                                                <th>Value (AED)</th>
                                                                <th>Batch No</th>
                                                                <th>Expiry Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int i = 0, j = 1; i < Model.Consumables.Count(); i++, j++)
                                                            {
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <label>@j</label>
                                                                    </td>
                                                                    <td style="width:150px">
                                                                        @Model.Consumables[i].Code
                                                                    </td>
                                                                    <td style="width:200px">
                                                                        @Model.Consumables[i].Name
                                                                    </td>
                                                                    <td>
                                                                        @Model.Consumables[i].Unit
                                                                    </td>
                                                                    <td>
                                                                        @Model.Consumables[i].Quantity
                                                                    </td>
                                                                    <td>
                                                                        @Model.Consumables[i].Price
                                                                    </td>
                                                                    <td>
                                                                        @Model.Consumables[i].Value
                                                                    </td>
                                                                    <td>
                                                                        @Model.Consumables[i].BatchNo
                                                                    </td>
                                                                    <td>
                                                                        @if (@Model.Consumables[i].ExpiryDate.HasValue)
                                                                        {
                                                                            @Model.Consumables[i].ExpiryDate.Value.ToString("dd/MM/yyyy")
                                                                        }

                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }

                                            @if (Model.Assets.Count > 0)
                                            {
                                                <div class="col-12 mt-2">
                                                    Assets
                                                </div>

                                                <div class="col-md-12 mt-2 overflow-table">
                                                    <table id="gridAsset" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                                        <thead>
                                                            <tr>
                                                                <th>SN</th>
                                                                <th width="100px">Item Code</th>
                                                                <th width="200px">Item Name</th>
                                                                <th width="200px">OEM</th>
                                                                <th width="200px">Make/Brand</th>
                                                                <th width="200px">Model</th>
                                                                <th width="200px">Serial Number</th>
                                                                <th width="200px">Warrenty End date</th>
                                                                <th width="200px">Manufacturing Year</th>
                                                                <th width="200px">Expected Life(Year)</th>
                                                                <th width="100px">Value (AED)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @for (int i = 0, j = 1; i < Model.Assets.Count(); i++, j++)
                                                            {
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <label>@j</label>
                                                                    </td>
                                                                    <td style="width:150px">
                                                                        @Model.Assets[i].Code
                                                                    </td>
                                                                    <td style="width:200px">
                                                                        @Model.Assets[i].Name
                                                                    </td>
                                                                    <td>
                                                                        @Model.Assets[i].OEM
                                                                    </td>
                                                                    <td>
                                                                        @Model.Assets[i].Brand
                                                                    </td>
                                                                    <td>
                                                                        @Model.Assets[i].Model
                                                                    </td>
                                                                    <td>
                                                                        @Model.Assets[i].SerialNo
                                                                    </td>
                                                                    <td>
                                                                        @if (@Model.Assets[i].WarrantyDate.HasValue)
                                                                        {
                                                                            @Model.Assets[i].WarrantyDate.Value.ToString("dd/MM/yyyy")
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        @Model.Assets[i].ManufactureYear
                                                                    </td>
                                                                    <td>
                                                                        @Model.Assets[i].ExpectedLifeYear
                                                                    </td>
                                                                    <td>
                                                                        @Model.Assets[i].Value
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-md-12 overflow-table">
                                                <table id="gridMeterial" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                                    <thead>
                                                        <tr>
                                                            <th>SN</th>
                                                            <th>Description</th>
                                                            <th width="20%">Quantity</th>
                                                            <th width="20%">Unit</th>
                                                            <th width="20%">Weight</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (int i = 0, j = 1; i < Model.Meterials.Count(); i++, j++)
                                                        {
                                                            <tr>
                                                                <td class="text-center">
                                                                    <input type="hidden" asp-for="Meterials[i].RequestMeterialID" />
                                                                    <label name="Meterials[@i].RowSlNo">@j</label>
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" type="text" asp-for="Meterials[i].Description">
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" type="text" asp-for="Meterials[i].Quantity">
                                                                </td>
                                                                <td>
                                                                    <select class="form-control" asp-for="Meterials[i].PackingTypeID" asp-items="ViewBag.PackingTypes"><option></option></select>
                                                                </td>
                                                                <td>
                                                                    <input class="form-control" type="text" asp-for="Meterials[i].Weight">
                                                                </td>

                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        }

                                        <div class="col-12">

                                            <div class="row ml-2 mt-2 mb-2 d-flex">
                                                @for (int i = 0; i < Model.MeterialFiles.Count(); i++)
                                                {
                                                    <div class="image-holder" id="MeterialImage_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(@Model.MeterialFiles[i].FileName)">	</div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        <div class="card card-with-nav">
                            <div class="card-header">
                                <div class="row row-nav-line">
                                    <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                        <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Documents (Supported Types: Jpg, Png, Pdf)</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    @for (int i = 0; i < Model.Documents.Count; i++)
                                    {

                                        <div class="col-md-4">
                                            <div class="card card-profile card-secondary">
                                                <div class="card-header" id="ReqDocuments_Img_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background-image: url('@Model.Documents[i].FileName')">
                                                </div>
                                                <div class="card-body">
                                                    <div class="user-profile text-center">
                                                        <div class="job">@Model.Documents[i].DocumentTypeName</div>
                                                        <div class="job">@Model.Documents[i].DocumentNumber</div>

                                                        @if (@Model.Documents[i].ExpiresOn != null)
                                                        {
                                                            if (@Model.Documents[i].ExpiresOn.Value < DateTime.UtcNow)
                                                            {
                                                                <div class="desc" style="color:red;">
                                                                    @Model.Documents[i].ExpiresOn.Value.ToShortDateString()
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="desc">
                                                                    @Model.Documents[i].ExpiresOn.Value.ToShortDateString()
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @if (!string.IsNullOrEmpty(Model.Documents[i].FileName2))
                                        {
                                            <div class="col-md-4">
                                                <div class="card card-profile card-secondary">
                                                    <div class="card-header" id="ReqDocuments_Img2_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background-image: url('@Model.Documents[i].FileName2')">
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="user-profile text-center">
                                                            <div class="job">@Model.Documents[i].DocumentTypeName</div>
                                                            <div class="job">@Model.Documents[i].DocumentNumber</div>

                                                            @if (@Model.Documents[i].ExpiresOn != null)
                                                            {
                                                                if (@Model.Documents[i].ExpiresOn.Value < DateTime.UtcNow)
                                                                {
                                                                    <div class="desc" style="color:red;">
                                                                        @Model.Documents[i].ExpiresOn.Value.ToShortDateString()
                                                                    </div>
                                                                }
                                                                else
                                                                {
                                                                    <div class="desc">
                                                                        @Model.Documents[i].ExpiresOn.Value.ToShortDateString()
                                                                    </div>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="card card-with-nav" id="divButtons">
                            <div class="card-body">
                                <div class="text-right">
                                    <button type="button" id="btnApprove" class="btn btn-success">Approve</button>
                                    <button type="button" id="btnDoReject" class="btn btn-danger">Reject</button>
                                </div>
                                <partial name="_ErrorPartial" />
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal fade" id="rejectPopup" tabindex="-1" role="dialog" aria-labelledby="newRejectPopupLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Do you want to Reject the application?</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>Reason</label>
                                            <textarea class="form-control" asp-for="Remarks"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <input type="button" id="btnReject" value="Confirm Reject" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<script>

    $(function () {
        $('#btnApprove').click(function (evt) {
            PostForm(evt, '/@ViewData["PageURL"]/1?handler=approve', '#formBasic', "approved");
        });

        approved = function (data) {
            successMessage(data.ResponseMessage, data.ResponseTitle, '@ViewData["MasterPageURL"]');
        }

        $("#btnDoReject").click(function () {
            $("#rejectPopup").modal('show');
        });

        $('#btnReject').click(function (evt) {
            PostForm(evt, '/@ViewData["PageURL"]/1?handler=reject', '#formBasic', "rejected");
        });

        rejected = function (data) {
            successMessage(data.ResponseMessage, data.ResponseTitle,'@ViewData["MasterPageURL"]');
        }
    });

</script>

