@page "/project-asset-request/{id?}"
@model Louvre.Pages.ProjectAssetRequestModel
@{
    if (Model.Data == null)
    {
        ViewData["Title"] = "New Request";
    }
    else
    {
        ViewData["Title"] = "Edit Request";
    }
    ViewData["ParentMenu"] = "Project Asset Entry";
    ViewData["PageURL"] = "project-asset-request";
    ViewData["MasterPageURL"] = "home";
}

<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <partial name="_BreadCrumb" />
            <form method="post" id="formBasic" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <input type="hidden" asp-for="Data.RequestID" />
                        <input type="hidden" asp-for="Data.RequestNo" />
                        <input type="hidden" asp-for="Data.RefID" />
                        <input type="hidden" asp-for="Vehicles.RequestVehicleID" />

                        <div class="card card-with-nav">
                            <div class="card-header">
                                <div class="row row-nav-line">
                                    <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                        <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Basic Information</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>Requester</label>
                                            <select class="form-control" asp-for="Data.EmployeeID" autofocus required>
                                                <option></option>
                                                <option value="-1">--New--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Designation</label>
                                            <input type="text" class="form-control" id="txtEmployeeDesignation" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Company</label>
                                            <input type="text" class="form-control" id="txtEmployeeCompany" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Email address</label>
                                            <input type="text" class="form-control" id="txtEmployeeEmail" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Mobile No</label>
                                            <input type="text" class="form-control" id="txtEmployeeMobile" readonly />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="card card-with-nav">
                            <div class="card-header">
                                <div class="row row-nav-line">
                                    <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                        <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Request Information</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">


                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Company</label>
                                            <select class="form-control" id="cmbBranch" asp-for="Data.BranchID" required>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Sub Company</label>
                                            <select class="form-control" asp-for="Data.SubBranchID" required id="cmbSubBranch">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Request Mode</label>
                                            <select class="form-control" asp-for="Data.RequestModeID" required id="cmbRequestMode">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Location</label>
                                            <select class="form-control" asp-for="Data.LocationID" required id="cmbLocation">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Date</label>
                                            <input type="date" min="@ViewData["FromDate"]" max="@ViewData["ToDate"]" asp-for="Data.Date" id="txtDate" class="form-control" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Choose Slot</label>
                                            <select class="form-control" asp-for="Data.SlotID" required id="cmbSlot">
                                            </select>
                                        </div>
                                    </div>

                                    @* <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Host Email address</label>
                                            <input type="text" asp-for="Data.HostEmail" class="form-control" />
                                        </div>
                                    </div>
 *@
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Driver</label>
                                            <select class="form-control" asp-for="Vehicles.EmployeeID" id="cmbDriver" asp-items="ViewBag.EmployeesSelectList" required>
                                                <option></option>
                                                <option value="-1">--New--</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Vehicle</label>
                                            <select class="form-control" asp-for="Vehicles.VehicleID" id="VehicleID" asp-items="ViewBag.Vehicles" required>
                                                <option></option>
                                                <option value="-1">--New--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="divMaterialDetails">
                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Material Type</label>
                                            <select class="form-control" required asp-for="Data.MeterialTypeID" asp-items="ViewBag.MeterialTypes" id="cmbMaterialType">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class='col-md-6' id="divExplosive">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" asp-for="Data.ContainsExplosive" id="cbContainsExplosive">
                                                <span class="form-check-sign">Contains hazardous material</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>Remarks if any</label>
                                            <textarea asp-for="Data.Narration" class="form-control">
                                        </textarea>
                                        </div>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-6">
                                        <table id="gridPassengers" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                            <thead>
                                                <tr>
                                                    <th>Co Passengers</th>
                                                    <th width="20px"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0, j = 1; i < Model.Passengers.Count(); i++, j++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" asp-for="Passengers[i].PassengerID" />
                                                            <select class="form-control" asp-for="Passengers[i].EmployeeID" asp-items="ViewBag.EmployeesSelectList"><option></option></select>
                                                        </td>
                                                        <td style="width:10px">
                                                            <a onclick="removeTableRow(this,$(this).closest('table').attr('id'))"><span class="fa fa-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td>
                                                        <select class="form-control" id="PassengerEmployeeID" asp-items="ViewBag.EmployeesSelectList">
                                                            <option></option>
                                                            <option value="-1">--New--</option>
                                                        </select>
                                                    </td>
                                                    <td style="width:10px">
                                                        <a id="btnAddPassenger" class="" onclick="addPassengerItem($(this).closest('table').attr('id'));"><i class="fa fa-plus-circle"></i></a>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (Model.RequestStatusID == 3)
                        {
                            <div class="card card-with-nav">
                                <div class="card-header">
                                    <div class="row row-nav-line">
                                        <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                            <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Rejection Details</a> </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group form-group-default">
                                                <label>Remark</label>
                                                <textarea class="form-control" asp-for="RequestApproval.Remarks" style="color:red">
                                                                    </textarea>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                        <div class="card card-with-nav" id="divMaterial">
                            <div class="card-header">
                                <div class="row row-nav-line">
                                    <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                        <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Material information</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">

                                <div class="row">


                                    <div class="col-md-6">
                                        <input type="hidden" asp-for="VendorDetails.CompanyID" />
                                        <div class="form-group form-group-default">
                                            <label>Vendor Name</label>
                                            <input type="text" class="form-control" asp-for="VendorDetails.CompanyName" required />
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Vendor ID</label>
                                            <input type="text integer" class="form-control" asp-for="VendorDetails.VendorID" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Contact Person</label>
                                            <input type="text" class="form-control" asp-for="VendorDetails.ContactPerson" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Contact Number</label>
                                            <input type="text integer" class="form-control" asp-for="VendorDetails.ContactPersonNumber" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Vendor Address</label>
                                            <input type="text" class="form-control" asp-for="VendorDetails.CompanyAddress" required />
                                        </div>
                                    </div>



                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>PO Number</label>
                                            <input type="text" class="form-control" asp-for="Data.PONumber" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>PO Date</label>
                                            <input type="date" class="form-control" asp-for="Data.PODate" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>Delivery Date</label>
                                            <input type="date" class="form-control" asp-for="Data.DeliveryDate" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group form-group-default">
                                            <label>PO Owner</label>
                                            <select class="form-control" id="cmbPOOwner" asp-for="Data.POOwnerID">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        Spares
                                    </div>

                                    <div class="col-md-12 mt-2 overflow-table">
                                        <table id="gridSpare" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                            <thead>
                                                <tr>
                                                    <th>SN</th>
                                                    <th>Item Code</th>
                                                    <th>Item Name</th>
                                                    <th>Unit</th>
                                                    <th>Quantity</th>
                                                    <th>Price (AED)</th>
                                                    <th>Value (AED)</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0, j = 1; i < Model.Spares.Count(); i++, j++)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="hidden" asp-for="Spares[i].RequestItemID" />
                                                            <input type="hidden" asp-for="Spares[i].ItemID" />
                                                            <label name="Spares[@i].RowSlNo">@j</label>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" asp-for="Spares[i].Code" readonly />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" asp-for="Spares[i].Name" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Spares[i].Unit" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control integer" type="text" asp-for="Spares[i].Quantity" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control number" type="text" asp-for="Spares[i].Price" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control number" type="text" asp-for="Spares[i].Value" readonly />
                                                        </td>
                                                        <td style="width:10px">
                                                            <a onclick="removeTableRow(this,$(this).closest('table').attr('id'))"><span class="fa fa-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <input type="hidden" id="txtSpareItemId">
                                                        <input type="hidden" id="txtSpareItemCode">
                                                        <select class="form-control" id="cmbSpareCode" onchange="SetSpareItem(this)" style="width:150px">
                                                            <option></option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" id="txtSpareItemName" list="lstSpareName" onchange="GetSpareItem(this)" style="width:250px" />
                                                        <datalist id="lstSpareName"></datalist>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" id="txtSpareUnit" readonly style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtSpareQuantity" style="width:100px" onchange="CalculateSpareValue()">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtSparePrice" style="width:100px" onchange="CalculateSpareValue()">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtSpareValue" style="width:100px" readonly>
                                                    </td>
                                                    <td style="width:10px">
                                                        <a id="btnAddSpare" class="" onclick="addSpareItem($(this).closest('table').attr('id'));"><i class="fa fa-plus-circle"></i></a>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                    <div class="col-12 mt-2">
                                        Consumables
                                    </div>

                                    <div class="col-md-12 mt-2 overflow-table">
                                        <table id="gridConsumable" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                            <thead>
                                                <tr>
                                                    <th>SN</th>
                                                    <th>Item Code</th>
                                                    <th>Item Name</th>
                                                    <th>Unit</th>
                                                    <th>Quantity</th>
                                                    <th>Price (AED)</th>
                                                    <th>Value (AED)</th>
                                                    <th>Batch No</th>
                                                    <th>Expiry Date</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0, j = 1; i < Model.Consumables.Count(); i++, j++)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="hidden" asp-for="Consumables[i].RequestItemID" />
                                                            <input type="hidden" asp-for="Consumables[i].ItemID" />
                                                            <label name="Consumables[@i].RowSlNo">@j</label>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" asp-for="Consumables[i].Code" readonly />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" asp-for="Consumables[i].Name" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Consumables[i].Unit" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control integer" type="text" asp-for="Consumables[i].Quantity" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control number" type="text" asp-for="Consumables[i].Price" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control number" type="text" asp-for="Consumables[i].Value" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Consumables[i].BatchNo" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="date" asp-for="Consumables[i].ExpiryDate" readonly />
                                                        </td>
                                                        <td style="width:10px">
                                                            <a onclick="removeTableRow(this,$(this).closest('table').attr('id'))"><span class="fa fa-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <input type="hidden" id="txtConsumableItemId">
                                                        <input type="hidden" id="txtConsumableItemCode">
                                                        <select class="form-control" id="cmbConsumableCode" onchange="SetConsumableItem(this)" style="width:150px">
                                                            <option></option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" id="txtConsumableItemName" list="lstConsumableName" onchange="GetConsumableItem(this)" style="width:250px"/>
                                                        <datalist id="lstConsumableName"></datalist>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" id="txtConsumableUnit" readonly style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtConsumableQuantity" onchange="CalculateConsumableValue()" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtConsumablePrice" onchange="CalculateConsumableValue()" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtConsumableValue" readonly style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" id="txtConsumableBatch" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="date" id="txtConsumableExpiryDate" style="width:200px">
                                                    </td>
                                                    <td style="width:10px">
                                                        <a id="btnAddConsumable" class="" onclick="addConsumableItem($(this).closest('table').attr('id'));"><i class="fa fa-plus-circle"></i></a>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>


                                    <div class="col-12 mt-2">
                                        Assets
                                    </div>

                                    <div class="col-md-12 mt-2 overflow-table">
                                        <table id="gridAsset" class="table table-bordered table-head-bg-info table-bordered-bd-info" role="grid" aria-describedby="add-row_info">
                                            <thead>
                                                <tr>
                                                    <th>SN</th>
                                                    <th width="100px">Item Code</th>
                                                    <th width="200px">Item Name</th>
                                                    <th width="200px">OEM</th>
                                                    <th width="200px">Make/Brand</th>
                                                    <th width="200px">Model</th>
                                                    <th width="200px">Serial Number</th>
                                                    <th width="200px">Warrenty End date</th>
                                                    <th width="200px">Manufacturing Year</th>
                                                    <th width="200px">Expected Life(Year)</th>
                                                    <th width="100px">Value (AED)</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0, j = 1; i < Model.Assets.Count(); i++, j++)
                                                {
                                                    <tr>
                                                        <td class="text-center">
                                                            <input type="hidden" asp-for="Assets[i].RequestItemID" />
                                                            <input type="hidden" asp-for="Assets[i].ItemID" />
                                                            <label name="Assets[@i].RowSlNo">@j</label>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" asp-for="Assets[i].Code" readonly />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" asp-for="Assets[i].Name" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Assets[i].OEM" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Assets[i].Brand" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Assets[i].Model" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="text" asp-for="Assets[i].SerialNo" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="date" asp-for="Assets[i].WarrantyDate" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control integer" type="text" asp-for="Assets[i].ManufactureYear" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control number" type="text" asp-for="Assets[i].ExpectedLifeYear" readonly />
                                                        </td>
                                                        <td>
                                                            <input class="form-control number" type="text" asp-for="Assets[i].Value" readonly />
                                                        </td>
                                                        <td style="width:10px">
                                                            <a onclick="removeTableRow(this,$(this).closest('table').attr('id'))"><span class="fa fa-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td>
                                                        <input type="hidden" id="txtAssetItemId">
                                                        <input type="hidden" id="txtAssetItemCode">
                                                        <select class="form-control" id="cmbAssetCode" onchange="SetAssetItem(this)" style="width:150px">
                                                            <option></option>
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="txtAssetItemName" list="lstAssetName" onchange="GetAssetItem(this)" style="width:250px" />
                                                        <datalist id="lstAssetName"></datalist>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" id="txtAssetOEM" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" id="txtAssetBrand" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" id="txtAssetModel" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="text" id="txtAssetSerialNumber" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control" type="date" id="txtAssetWarrentyEnd" style="width:200px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtAssetManufacturingYear" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtAssetExpectedLife" style="width:100px">
                                                    </td>
                                                    <td>
                                                        <input class="form-control number" type="text" id="txtAssetValue" style="width:100px">
                                                    </td>
                                                    <td style="width:10px">
                                                        <a id="btnAddAsset" class="" onclick="addAssetItem($(this).closest('table').attr('id'));"><i class="fa fa-plus-circle"></i></a>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="card card-with-nav">
                            <div class="card-header">
                                <div class="row row-nav-line">
                                    <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                        <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Documents (Supported Types: Jpg, Png, Pdf)</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    @for (int i = 0; i < Model.RequestDocuments.Count; i++)
                                    {
                                        <input type="hidden" asp-for="@Model.RequestDocuments[i].MediaID" />
                                        <input type="hidden" asp-for="@Model.RequestDocuments[i].MediaID2" />
                                        <input type="hidden" asp-for="@Model.RequestDocuments[i].DocumentID" />
                                        <input type="hidden" asp-for="@Model.RequestDocuments[i].DocumentTypeID" />
                                        <input type="hidden" id="HasReqFile_@i" asp-for="@Model.RequestDocuments[i].HasFile" />
                                        <input type="hidden" id="HasReqFile2_@i" asp-for="@Model.RequestDocuments[i].HasFile2" />

                                        <div class='col-md-6 '>
                                            <div class="form-group form-group-default">
                                                <div class="row  py-3">
                                                    <div class="col-4 pl-2 document-label">@Model.RequestDocuments[i].DocumentTypeName</div>
                                                    <div class="col-2 uplod-icon my-auto">
                                                        <div class="image-upload">
                                                            <label for="ReqDocuments_@i"><i class="fa fa-file" style="font-size: 13px;"></i> <span class=" uplod-text">Front</span></label>
                                                            <input class="file-input" type="file" accept="image/x-png,image/gif,image/jpeg,application/pdf" id="ReqDocuments_@i" asp-for="ReqDocuments" onchange="showImage(this,'ReqDocuments_Img_'+@i)" />
                                                        </div>
                                                    </div>
                                                    <div class="col-2 uplod-icon my-auto">
                                                        <div class="image-upload">
                                                            <label for="ReqDocuments2_@i"><i class="fa fa-file" style="font-size: 13px;"> </i> <span class=" uplod-text">Back</span></label>
                                                            <input type="file" accept="image/x-png,image/gif,image/jpeg,application/pdf" id="ReqDocuments2_@i" asp-for="ReqDocuments2" onchange="showImage(this,'ReqDocuments2_Img_'+@i)" />
                                                        </div>
                                                    </div>
                                                    <div class="col-2"><div class="uplod-img my-auto photo-box shadow" id="ReqDocuments_Img_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(@Model.RequestDocuments[i].FileName), url('/default/img/pdf.png')"></div></div>
                                                    <div class="col-2"><div class="uplod-img my-auto photo-box shadow" id="ReqDocuments2_Img_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(@Model.RequestDocuments[i].FileName2), url('/default/img/pdf.png')"></div></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class="form-group form-group-default">
                                                <label>Document No</label>
                                                <input type="text" class="form-control" asp-for="RequestDocuments[i].DocumentNumber" />
                                            </div>
                                        </div>
                                        <div class='col-md-3'>
                                            <div class="form-group form-group-default">
                                                <label>Expires On</label>
                                                <input type="date" min="@ViewData["Today"]" class="form-control" asp-for="RequestDocuments[i].ExpiresOn" />
                                            </div>
                                        </div>
                                    }


                                </div>
                                <div class="row" id="divCompanyDocuments">
                                </div>
                            </div>
                        </div>

                        <div class="card card-with-nav" id="divButtons">
                            <div class="card-body">
                                <div class="text-right">
                                    <button type="button" id="btnSave" class="btn btn-success">Save</button>
                                    <partial name="_DeleteButton" />
                                </div>
                                <partial name="_ErrorPartial" />
                            </div>
                        </div>

                    </div>
                </div>

                <input type="hidden" asp-for="CompanyID" />
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newEmployee" tabindex="-1" role="dialog" aria-labelledby="newEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" id="formEmployee" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Requester/Driver</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Name</label>
                                <input type="text" class="form-control" asp-for="Employee.EmployeeName" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Designation</label>
                                <input type="text" class="form-control" asp-for="Employee.DesignationName" list="lstDesignation" />
                                <datalist id="lstDesignation"></datalist>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Company</label>
                                <input type="text" class="form-control" asp-for="Employee.CompanyName" list="lstCompany" />
                                <datalist id="lstCompany"></datalist>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Email address</label>
                                <input type="text" class="form-control" asp-for="Employee.Email" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Mobile No</label>
                                <input type="text" class="form-control" asp-for="Employee.ContactNumber" />
                            </div>
                        </div>
                        <div class="col-md-6"></div>

                        @for (int i = 0; i < Model.EmployeeDocuments.Count; i++)
                        {
                            <input type="hidden" asp-for="@Model.EmployeeDocuments[i].MediaID" />
                            <input type="hidden" asp-for="@Model.EmployeeDocuments[i].MediaID2" />
                            <input type="hidden" asp-for="@Model.EmployeeDocuments[i].DocumentID" />
                            <input type="hidden" asp-for="@Model.EmployeeDocuments[i].DocumentTypeID" />
                            <input type="hidden" id="HasEmpFile_@i" asp-for="@Model.EmployeeDocuments[i].HasFile" />
                            <input type="hidden" id="HasEmpFile2_@i" asp-for="@Model.EmployeeDocuments[i].HasFile2" />


                            <div class='col-md-6 '>
                                <div class="form-group form-group-default">
                                    <div class="row  py-3">
                                        <div class="col-4 pl-2 document-label">@Model.EmployeeDocuments[i].DocumentTypeName</div>
                                        <div class="col-2 uplod-icon my-auto">
                                            <div class="image-upload">
                                                <label for="EmpDocuments_@i"><i class="fa fa-file" style="font-size: 13px;">  </i> <span class=" uplod-text">Front</span></label>
                                                <input class="file-input" type="file" accept="image/x-png,image/gif,image/jpeg,application/pdf" id="EmpDocuments_@i" asp-for="EmpDocuments" onchange="showImage(this,'EmpDocuments_Img_'+@i)" />
                                            </div>
                                        </div>
                                        <div class="col-2 uplod-icon my-auto">
                                            <div class="image-upload">
                                                <label for="EmpDocuments2_@i"><i class="fa fa-file" style="font-size: 13px;"> </i> <span class=" uplod-text">Back</span></label>
                                                <input type="file" accept="image/x-png,image/gif,image/jpeg,application/pdf" id="EmpDocuments2_@i" asp-for="EmpDocuments2" onchange="showImage(this,'EmpDocuments_Img2_'+@i)" />
                                            </div>
                                        </div>
                                        <div class="col-2"><div class="uplod-img my-auto photo-box shadow" id="EmpDocuments_Img_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(@Model.EmployeeDocuments[i].FileName)"></div></div>
                                        <div class="col-2"><div class="uplod-img my-auto photo-box shadow" id="EmpDocuments_Img2_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(@Model.EmployeeDocuments[i].FileName2)"></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class="form-group form-group-default">
                                    <label>Document No</label>
                                    <input type="text" class="form-control" asp-for="EmployeeDocuments[i].DocumentNumber" />
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class="form-group form-group-default">
                                    <label>Expires On</label>
                                    <input type="date" min="@ViewData["Today"]" class="form-control" asp-for="EmployeeDocuments[i].ExpiresOn" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" id="btnEmployeeSave" value="Save" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="newVehicle" tabindex="-1" role="dialog" aria-labelledby="newVehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form method="post" id="formVehicle" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Vehicle</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>RegisterNo</label>
                                <input type="text" class="form-control" asp-for="Vehicle.RegisterNo" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Vehicle Type</label>
                                <select class="form-control" asp-for="Vehicle.VehicleTypeID" asp-items="ViewBag.VehicleTypes">
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Size</label>
                                <input type="text" class="form-control" asp-for="Vehicle.VehicleSize" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-group-default">
                                <label>Plate Number</label>
                                <input type="text" class="form-control" asp-for="Vehicle.PlateNo" />
                            </div>
                        </div>


                        @for (int i = 0; i < Model.VehicleDocuments.Count; i++)
                        {

                            <input type="hidden" asp-for="@Model.VehicleDocuments[i].MediaID" />
                            <input type="hidden" asp-for="@Model.VehicleDocuments[i].MediaID2" />
                            <input type="hidden" asp-for="@Model.VehicleDocuments[i].DocumentID" />
                            <input type="hidden" asp-for="@Model.VehicleDocuments[i].DocumentTypeID" />
                            <input type="hidden" id="HasVehicleFile_@i" asp-for="@Model.VehicleDocuments[i].HasFile" />
                            <input type="hidden" id="HasVehicleFile2_@i" asp-for="@Model.VehicleDocuments[i].HasFile2" />

                            <div class='col-md-6 '>
                                <div class="form-group form-group-default">
                                    <div class="row  py-3">
                                        <div class="col-4 pl-2 document-label">@Model.VehicleDocuments[i].DocumentTypeName</div>
                                        <div class="col-2 uplod-icon my-auto">
                                            <div class="image-upload">
                                                <label for="VehDocuments_@i"><i class="fa fa-file" style="font-size: 13px;">  </i> <span class=" uplod-text">Front</span></label>
                                                <input class="file-input" type="file" accept="image/x-png,image/gif,image/jpeg,application/pdf" id="VehDocuments_@i" asp-for="VehDocuments" onchange="showImage(this,'VehDocuments_Img_'+@i)" />
                                            </div>
                                        </div>
                                        <div class="col-2 uplod-icon my-auto">
                                            <div class="image-upload">
                                                <label for="VehDocuments2_@i"><i class="fa fa-file" style="font-size: 13px;"> </i> <span class=" uplod-text">Back</span></label>
                                                <input type="file" accept="image/x-png,image/gif,image/jpeg,application/pdf" id="VehDocuments2_@i" asp-for="VehDocuments2" onchange="showImage(this,'VehDocuments_Img2_'+@i)" />
                                            </div>
                                        </div>
                                        <div class="col-2"><div class="uplod-img my-auto photo-box shadow" id="VehDocuments_Img_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(@Model.VehicleDocuments[i].FileName)"></div></div>
                                        <div class="col-2"><div class="uplod-img my-auto photo-box shadow" id="VehDocuments_Img2_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(@Model.VehicleDocuments[i].FileName2)"></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class="form-group form-group-default">
                                    <label>Document No</label>
                                    <input type="text" class="form-control" asp-for="VehicleDocuments[i].DocumentNumber" />
                                </div>
                            </div>
                            <div class='col-md-3'>
                                <div class="form-group form-group-default">
                                    <label>Expires On</label>
                                    <input type="date" min="@ViewData["Today"]" class="form-control" asp-for="VehicleDocuments[i].ExpiresOn" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="button" id="btnVehicleSave" value="Save" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    //#region Global Variables

    var employees = [], vehicles = [], companyDocumentCount = 0, branches = [], requestModes = [], locations = [], poOwners = [];
    var slotId = 0;
    var spares = [], assets = [], consumables=[];
    var expiryDateRequired=false;
    var gridSpares = [
        {
            FieldType: "slno"
        },
        {
            FieldType: "text",
            FieldName: "Code",
            ControlName: "txtSpareItemCode",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Name",
            ControlName: "txtSpareItemName",
            Attributes:"readonly",
            Required: "required"
        },
        {
            FieldType: "text",
            FieldName: "Unit",
            ControlName: "txtSpareUnit",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Quantity",
            ControlName: "txtSpareQuantity",
            Required: "required",
            Class:"integer",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Price",
            ControlName: "txtSparePrice",
            Required: "required",
            Class:"number",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Value",
            ControlName: "txtSpareValue",
            Class:"number",
            Attributes:"readonly"
        },
        {
            FieldType: "hidden",
            FieldName: "RequestItemID",
        },
        {
            FieldType: "hidden",
            FieldName: "ItemID",
            ControlName: "txtSpareItemId",
        },
    ];

    var gridConsumables = [
        {
            FieldType: "slno"
        },
        {
            FieldType: "text",
            FieldName: "Code",
            ControlName: "txtConsumableItemCode",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Name",
            ControlName: "txtConsumableItemName",
            Attributes:"readonly",
            Required: "required",
        },
        {
            FieldType: "text",
            FieldName: "Unit",
            ControlName: "txtConsumableUnit",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Quantity",
            ControlName: "txtConsumableQuantity",
            Required: "required",
            Class:"integer",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Price",
            ControlName: "txtConsumablePrice",
            Required: "required",
            Class:"number",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Value",
            ControlName: "txtConsumableValue",
            Class:"number",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "BatchNo",
            ControlName: "txtConsumableBatch",
        },
        {
            FieldType: "date",
            FieldName: "ExpiryDate",
            ControlName: "txtConsumableExpiryDate",
        },
        {
            FieldType: "hidden",
            FieldName: "RequestItemID",
        },
        {
            FieldType: "hidden",
            FieldName: "ItemID",
            ControlName: "txtConsumableItemId",
        },
    ];

     var gridAssets = [
        {
            FieldType: "slno"
        },
        {
            FieldType: "text",
            FieldName: "Code",
            ControlName: "txtAssetItemCode",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Name",
            ControlName: "txtAssetItemName",
            Attributes:"readonly",
            Required: "required",
        },
        {
            FieldType: "text",
            FieldName: "OEM",
            ControlName: "txtAssetOEM",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Brand",
            ControlName: "txtAssetBrand",
            Attributes:"readonly"
        },
        {
            FieldType: "text",
            FieldName: "Model",
            ControlName: "txtAssetModel",
        },
        {
            FieldType: "text",
            FieldName: "SerialNo",
            ControlName: "txtAssetSerialNumber",
        },
        {
            FieldType: "date",
            FieldName: "WarrantyDate",
            ControlName: "txtAssetWarrentyEnd",
        },
        {
            FieldType: "text",
            FieldName: "ManufactureYear",
            Class:"integer",
            ControlName: "txtAssetManufacturingYear",
        },
        {
            FieldType: "text",
            FieldName: "ExpectedLifeYear",
            Class:"integer",
            ControlName: "txtAssetExpectedLife",
        },
        {
            FieldType: "text",
            FieldName: "Value",
            Class:"number",
            ControlName: "txtAssetValue",
        },
        {
            FieldType: "hidden",
            FieldName: "RequestItemID",
        },
        {
            FieldType: "hidden",
            FieldName: "ItemID",
            ControlName: "txtAssetItemId",
        },
    ];

    var gridPassengers = [
        {
            FieldType: "select",
            FieldName: "EmployeeID",
            ControlName: "PassengerEmployeeID",
            Required: "required"
        },
        {
            FieldType: "hidden",
            FieldName: "PassengerID",
        },
    ];

    //#endregion

    $(function () {

        $(document).ready(function () {

            if (@Html.Raw(Json.Serialize(ViewData["NotApproved"] != null))) {
                showMessage("You are currently in the verification process", "Oops..Your account not approved yet!!","error","home");
                return;
            }

            employees =@Html.Raw(Json.Serialize(ViewData["Employees"]));
            branches =@Html.Raw(Json.Serialize(ViewData["Branches"]));
            requestModes =@Html.Raw(Json.Serialize(ViewData["RequestModes"]));
            locations =@Html.Raw(Json.Serialize(ViewData["Locations"]));
            poOwners=@Html.Raw(Json.Serialize(ViewData["POOwners"]));

            spares =@Html.Raw(Json.Serialize(ViewData["Spares"]));
            assets =@Html.Raw(Json.Serialize(ViewData["Assets"]));
            consumables =@Html.Raw(Json.Serialize(ViewData["Consumables"]));

            fillBranch();
            fillCombo('cmbRequestMode', 'RequestModeID', 'ModeName', requestModes, '  ');
            fillCombo('cmbPOOwner', 'POOwnerID', 'StaffName', poOwners, '  ');
            fillCombo('Data_EmployeeID', 'EmployeeID', 'EmployeeName', employees, '<-Select One->', true);
            fillSuggestion('lstDesignation', @Html.Raw(Json.Serialize(ViewData["Designations"])));
            fillSuggestion('lstCompany', @Html.Raw(Json.Serialize(ViewData["Companies"])));

            fillFieldSuggestion('lstSpareName', spares,"Name");
            fillFieldSuggestion('lstConsumableName', consumables,"Name");
            fillFieldSuggestion('lstAssetName', assets,"Name");

            fillCombo('cmbSpareCode', 'ItemID', 'Code', spares, ' ');
            fillCombo('cmbConsumableCode', 'ItemID', 'Code', consumables, ' ');
            fillCombo('cmbAssetCode', 'ItemID', 'Code', assets, ' ');
            fillCombo('cmbAssetName', 'ItemID', 'Name', assets, ' ');

            var requestData =@Html.Raw(Json.Serialize(Model.Data));
            if (requestData != null) {
                $("#Data_EmployeeID").val(requestData.EmployeeID);
                $("#Data_EmployeeID").change();
                $("#cmbBranch").val(requestData.BranchID);
                $("#cmbBranch").change();
                $("#cmbSubBranch").val(requestData.SubBranchID);
                $("#cmbRequestMode").val(requestData.RequestModeID);
                $("#cmbRequestMode").change();
                $("#cmbLocation").val(requestData.LocationID);
                $("#cmbPOOwner").val(requestData.POOwnerID);
                slotId = requestData.SlotID;
                if (@Model.RequestStatusID != 1 && @Model.RequestStatusID != 3) {
                    $("#divButtons").hide();
                }
            }
        });




        //#region Asset
        SetAssetItem =function(element)
        {
            var itemId = $(element).val();
            $("#txtAssetItemId").val(itemId);
            $("#cmbAssetCode").val(itemId);
            var item;
            $.each(assets, function () {
                if(this.ItemID==itemId)
                    {
                        item=this;
                        return false;
                    }
            });
            $("#txtAssetItemName").val(item.Name);
            $("#txtAssetItemCode").val(item.Code);
        }

        GetAssetItem=function(element)
        {
            var itemName = $(element).val();
            if(itemName!="")
            {
            var item;
            $.each(assets, function () {
                if(this.Name==itemName)
                    {
                        item=this;
                        return false;
                    }
            });
            if(item!=null)
            {
                $("#txtAssetItemName").val(item.Name);
                $("#txtAssetItemCode").val(item.Code);
                $("#txtAssetItemId").val(item.ItemID);
                $("#cmbAssetCode").val(item.ItemID);
            }
            else
            {
                errorMessage("Item not found")
            }
            }
            else{
                $("#txtAssetItemId").val(null);
                $("#cmbAssetCode").val(null);
                $("#txtAssetItemName").val("");
                $("#txtAssetItemCode").val("");
            }
        };

        addAssetItem = function (tableId) {
            addTableRow(tableId, 'Assets', gridAssets);
            $("#cmbAssetCode").focus();
        };
        //#endregion


        //#region Spare
        SetSpareItem=function(element)
        {
            var itemId = $(element).val();
            $("#txtSpareItemId").val(itemId);
            $("#cmbSpareCode").val(itemId);
            var item;
            $.each(spares, function () {
                if(this.ItemID==itemId)
                    {
                        item=this;
                        return false;
                    }
            });
            $("#txtSpareUnit").val(item.PurchaseUnit);
            $("#txtSpareItemName").val(item.Name);
            $("#txtSpareItemCode").val(item.Code);
        };

        GetSpareItem=function(element)
        {
            var itemName = $(element).val();
            if(itemName!="")
            {
            var item;
            $.each(spares, function () {
                if(this.Name==itemName)
                    {
                        item=this;
                        return false;
                    }
            });
            if(item!=null)
            {
                $("#txtSpareItemId").val(item.ItemID);
                $("#cmbSpareCode").val(item.ItemID);
                $("#txtSpareUnit").val(item.PurchaseUnit);
                $("#txtSpareItemName").val(item.Name);
                $("#txtSpareItemCode").val(item.Code);
            }
            else
            {
                errorMessage("Item not found")
            }
            }
            else{
                $("#txtSpareItemId").val(null);
                $("#cmbSpareCode").val(null);
                $("#txtSpareUnit").val("");
                $("#txtSpareItemName").val("");
                $("#txtSpareItemCode").val("");
            }
        };

        CalculateSpareValue=function()
        {
            var qty=$("#txtSpareQuantity").val();
            var price=$("#txtSparePrice").val();
            var totalValue=qty*price;
            $("#txtSpareValue").val(totalValue);
        };

        addSpareItem = function (tableId) {
            addTableRow(tableId, 'Spares', gridSpares);
            $("#cmbSpareCode").focus();
        };
        //#endregion

       //#region Consumable
        SetConsumableItem =function(element)
        {
            var itemId = $(element).val();
            $("#txtConsumableItemId").val(itemId);
            $("#cmbConsumableCode").val(itemId);
            var item;
            $.each(consumables, function () {
                if(this.ItemID==itemId)
                    {
                        item=this;
                        return false;
                    }
            });
            $("#txtConsumableUnit").val(item.PurchaseUnit);
            $("#txtConsumableItemName").val(item.Name);
            $("#txtConsumableItemCode").val(item.Code);
            expiryDateRequired=item.IsExpirable;
        }

        GetConsumableItem=function(element)
        {
            var itemName = $(element).val();
            if(itemName!="")
            {
            var item;
            $.each(consumables, function () {
                if(this.Name==itemName)
                    {
                        item=this;
                        return false;
                    }
            });
            if(item!=null)
            {
                $("#txtConsumableItemId").val(item.ItemID);
                $("#cmbConsumableCode").val(item.ItemID);
                $("#txtConsumableUnit").val(item.PurchaseUnit);
                $("#txtConsumableItemCode").val(item.Code);
                expiryDateRequired=item.IsExpirable;
            }
            else
            {
                errorMessage("Item not found")
            }
            }
            else{
                $("#txtConsumableItemId").val(null);
                $("#cmbConsumableCode").val(null);
                $("#txtConsumableUnit").val("");
                $("#txtConsumableItemName").val("");
                $("#txtConsumableItemCode").val("");
                expiryDateRequired=false;
            }
        };

        CalculateConsumableValue=function()
        {
            var qty=$("#txtConsumableQuantity").val();
            var price=$("#txtConsumablePrice").val();
            var totalValue=qty*price;
            $("#txtConsumableValue").val(totalValue);
        }

        addConsumableItem = function (tableId) {

            if(expiryDateRequired && $("#txtConsumableExpiryDate").val()=="")
            {
                errorMessage("Please enter expiry date","Invalid data");
                $("#txtConsumableExpiryDate").focus();
                return;
            }

            addTableRow(tableId, 'Consumables', gridConsumables);
            $("#cmbConsumableCode").focus();
        };
        //#endregion





        $('#btnSave').click(function (evt) {

            if ($("#Description").val() != "") {
                $("#btnAddMaterial").click();
            }

            if ($("#PassengerEmployeeID").val() != "") {
                $("#btnAddPassenger").click();
            }

            if ($("#cmbConsumableCode").val() != "") {
                $("#btnAddConsumable").click();
            }

            if ($("#cmbAssetCode").val() != "") {
                $("#btnAddAsset").click();
            }

            if ($("#cmbSpareCode").val() != "") {
                $("#btnAddSpare").click();
            }

            var spareCount=$(`#gridSpare tbody tr`).length;
            var assetCount=$(`#gridAsset tbody tr`).length;
            var consumableCount=$(`#gridConsumable tbody tr`).length;


            if  (spareCount== 0 && assetCount==0 && consumableCount==0) {
                errorMessage("There is no material added!!");
                return;
            }


            setHasImageField(companyDocumentCount, 'CompDocuments', 'HasCompFile');
            setHasImageField(companyDocumentCount, 'CompDocuments2', 'HasCompFile2');
            setHasImageField(@Model.RequestDocuments.Count, 'ReqDocuments', 'HasReqFile');
            setHasImageField(@Model.RequestDocuments.Count, 'ReqDocuments2', 'HasReqFile2');
            PostForm(evt, '/@ViewData["PageURL"]?handler=save', '#formBasic', "saved");
        });

        saved = function (data) {
            successMessage(data.ResponseMessage, data.ResponseTitle,'@ViewData["MasterPageURL"]');
        }

        $("#txtDate").change(function () {

            cntr = [];
            cntr.push($('#cmbBranch'));
            if (!isModelStateValid(cntr))
                return;

            PostFormWithoutEvent('/@ViewData["PageURL"]?handler=loadSlot', '#formBasic', "loadSlots");
        });

        $("#txtDate").blur(function () {
            $("#txtDate").change();
        });

        loadSlots = function (data) {
            fillCombo('cmbSlot', 'ID', 'Value', data, '  ');

            if (slotId != 0) {
                $("#cmbSlot").val(slotId);
                slotId = 0;
            }
        }

        //#region Branch

        $("#cmbBranch").change(function () {
            fillSubBranch();

            if ($("#txtDate").val() != null) {
                $("#txtDate").change();
            }
        });

        fillBranch = function () {
            var cmb = $("#cmbBranch");
            cmb.empty();
            cmb.append($("<option/>").val(null).html(''));
            $.each(branches, function () {
                if(this.ParentBranchID==null)
                    cmb.append($("<option/>").val(this['BranchID']).html(this['BranchName']));
            });
        }

        fillSubBranch = function () {
            var cmb = $("#cmbSubBranch");
            cmb.empty();
            cmb.append($("<option/>").val(null).html(''));
            $.each(branches, function () {
                if(this.ParentBranchID==$("#cmbBranch").val())
                    cmb.append($("<option/>").val(this['BranchID']).html(this['BranchName']));
            });
        }

        //#endregion

        //#region Request Mode

        $("#cmbRequestMode").change(function () {
            fillLocation();

            if ($(this).val() == "1") {
                $("#divMaterial").show();
                $("#divMaterialDetails").show();
            }
            else {
                $("#divMaterial").hide();
                $("#divMaterialDetails").hide();
            }
        });

        fillLocation = function () {

            var requestMode = getRowByFieldNameValue(requestModes, 'RequestModeID', $("#cmbRequestMode").val())

            var cmb = $("#cmbLocation");
            cmb.empty();
            cmb.append($("<option/>").val(null).html(''));
            $.each(locations, function () {
                if(this.LocationTypeID==requestMode.LocationTypeID)
                    cmb.append($("<option/>").val(this['LocationID']).html(this['LocationName']));
            });
        }

        //#endregion

        //#region Request Type

        $("#cmbMaterialType").change(function () {

            if ($(this).val() == "1") {
                $("#divExplosive").show();
            }
            else {
                $("#divExplosive").hide();
                $("#cbContainsExplosive").prop('checked', false);
            }
        });

        //#endregion

        //#region Employee

        $("#Data_EmployeeID").change(function () {
            if ($("#Data_EmployeeID").val() == "-1") {
                $("#newEmployee").modal('show');
                $("#Employee_EmployeeName").focus();
            }
            else if ($("#Data_EmployeeID").val() != "0") {
                var employee = getRowByFieldNameValue(employees, "EmployeeID", $("#Data_EmployeeID").val());

                $("#txtEmployeeDesignation").val(employee.DesignationName);
                $("#txtEmployeeCompany").val(employee.CompanyName);
                $("#txtEmployeeEmail").val(employee.Email);
                $("#txtEmployeeMobile").val(employee.ContactNumber);

                $("#CompanyID").val(employee.CompanyID)
                loadCompanyDocuments();
                loadVendorDetails(employee.CompanyID);
            }
        });

        loadVendorDetails = function (companyId) {
            GetAPI(`/api/request/get-vendor-details/${companyId}`, 'vendorDetailsLoaded');
        };

        vendorDetailsLoaded = function (data) {
            $("#VendorDetails_CompanyID").val(data.CompanyID);
            $("#VendorDetails_CompanyName").val(data.CompanyName);
            $("#VendorDetails_VendorID").val(data.VendorID);
            $("#VendorDetails_ContactPerson").val(data.ContactPerson);
            $("#VendorDetails_ContactPersonNumber").val(data.ContactPersonNumber);
            $("#VendorDetails_CompanyAddress").val(data.CompanyAddress);
        }

        $("#Data_EmployeeID").blur(function () {
            $("#Data_EmployeeID").change();
        })

        $("#cmbDriver").change(function () {
            if ($(this).val() == "-1") {
                $("#newEmployee").modal('show');
                $("#Employee_EmployeeName").focus();
            }
        });

        $("#cmbDriver").blur(function () {
            $("#cmbDriver").change();
        })

        $("#PassengerEmployeeID").change(function () {
            if ($(this).val() == "-1") {
                $("#newEmployee").modal('show');
                $("#Employee_EmployeeName").focus();
            }
        });

        $("#PassengerEmployeeID").blur(function () {
            $("#PassengerEmployeeID").change();
        })

        $("#btnEmployeeSave").click(function (evt) {

            setHasImageField(@Model.EmployeeDocuments.Count, 'EmpDocuments', 'HasEmpFile');
            setHasImageField(@Model.EmployeeDocuments.Count, 'EmpDocuments2', 'HasEmpFile2');

            PostForm(evt, '/@ViewData["PageURL"]?handler=saveEmployee', '#formEmployee', "employeeSaved");
        });

        employeeSaved = function (data) {
            $("#newEmployee").modal('hide');
            clearForm('formEmployee');
            clearImages('EmpDocuments_Img',@Model.EmployeeDocuments.Count);
            clearImages('EmpDocuments_Img2',@Model.EmployeeDocuments.Count);

            employees = data.Employees;

            var selectedEmployeeID = $("#Data_EmployeeID").val();
            if (selectedEmployeeID == "-1") {
                selectedEmployeeID = data.NewEmployeeID;
            }


            var selectedDriverID = $("#cmbDriver").val();
            if (selectedDriverID == "-1") {
                selectedDriverID = data.NewEmployeeID;
            }

            var selectedPassengerID = $("#PassengerEmployeeID").val();
            if (selectedPassengerID == "-1") {
                selectedPassengerID = data.NewEmployeeID;
            }

            fillCombo('Data_EmployeeID', 'EmployeeID', 'EmployeeName', employees, '<-Select One->', true);
            fillCombo('cmbDriver', 'EmployeeID', 'EmployeeName', employees, '<-Select One->', true);
            fillCombo('PassengerEmployeeID', 'EmployeeID', 'EmployeeName', employees, '<-Select One->', true);

            $("#Data_EmployeeID").val(selectedEmployeeID);
            $("#Data_EmployeeID").change();

            $("#cmbDriver").val(selectedDriverID);
            $("#PassengerEmployeeID").val(selectedPassengerID);
        }
        //#endregion

        //#region Vehicle

        $("#VehicleID").change(function () {
            if ($(this).val() == "-1") {
                $("#newVehicle").modal('show');
                $("#Vehicle_RegisterNo").focus();
            }
        });

        $("#VehicleID").blur(function () {
            $("#VehicleID").change();
        })

        $("#btnVehicleSave").click(function (evt) {

            setHasImageField(@Model.VehicleDocuments.Count, 'VehDocuments', 'HasVehicleFile');
            setHasImageField(@Model.VehicleDocuments.Count, 'VehDocuments2', 'HasVehicleFile2');

            PostForm(evt, '/@ViewData["PageURL"]?handler=saveVehicle', '#formVehicle', "vehicleSaved");
        });

        vehicleSaved = function (data) {
            $("#newVehicle").modal('hide');
            clearForm('formVehicle');
            clearImages('VehDocuments_Img',@Model.VehicleDocuments.Count);
            clearImages('VehDocuments_Img2',@Model.VehicleDocuments.Count);

            vehicles = data.Vehicles;
            fillCombo('VehicleID', 'VehicleID', 'RegisterNo', vehicles, '  ', true);
            $("#VehicleID").val(data.NewVehicleID);
        }

        //#endregion

        //#region Company Documents

        loadCompanyDocuments = function () {
            PostFormWithoutEvent('/@ViewData["PageURL"]?handler=loadCompanyDocuments', '#formBasic', "companyDocumentLoad");
        };

        companyDocumentLoad = function (data) {

            var documentData = '';
            companyDocumentCount = data.length;
            for (var i = 0; i < data.length; i++)
            {
                var expireson = "";
                if (data[i].ExpiresOn != null) {
                    expireson = `value="${new Date(data[i].ExpiresOn).toDateInputValue()}"`;
                }

                documentData +=
                    `<input type="hidden" name="CompanyDocuments[${i}].MediaID" value="${data[i].MediaID}"/>
                        <input type="hidden" name="CompanyDocuments[${i}].MediaID2" value="${data[i].MediaID2}"/>
                        <input type="hidden" name="CompanyDocuments[${i}].DocumentID" value="${data[i].DocumentID}"/>
                        <input type="hidden" name="CompanyDocuments[${i}].DocumentTypeID" value="${data[i].DocumentTypeID}"/>
                        <input type="hidden" id="HasCompFile_${i}" name="CompanyDocuments[${i}].HasFile"/>
                        <input type="hidden" id="HasCompFile2_${i}" name="CompanyDocuments[${i}].HasFile2"/>


                        <div class='col-md-6 '>
                                            <div class="form-group form-group-default">
                                                <div class="row  py-3">
                                                    <div class="col-4 pl-2 document-label">${data[i].DocumentTypeName}</div>
                                                    <div class="col-2 uplod-icon my-auto">
                                                        <div class="image-upload">
                                                            <label for="CompDocuments_${i}"><i class="fa fa-file" style="font-size: 13px;">  </i> <span class=" uplod-text">Front</span></label>
                                                            <input class="file-input" type="file" accept="image/x-png,image/gif,image/jpeg,application/pdf" id="CompDocuments_${i}" name="CompDocuments" onchange="showImage(this,'CompDocuments_Img_'+${i})" />
                                                        </div>
                                                    </div>
                                                    <div class="col-2 uplod-icon my-auto">
                                                        <div class="image-upload">
                                                            <label for="CompDocuments2_${i}"><i class="fa fa-file" style="font-size: 13px;"> </i> <span class=" uplod-text">Back</span></label>
                                                            <input type="file"  accept="image/x-png,image/gif,image/jpeg,application/pdf" id="CompDocuments2_${i}" name="CompDocuments2" onchange="showImage(this,'CompDocuments_Img2_'+${i})" />
                                                        </div>
                                                    </div>`;

                if (data[i].FileName == undefined) {
                    documentData += `<div class="col-2"><div class="photo-box shadow" id="CompDocuments_Img_${i}" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;"></div></div>`;
                }
                else {
                    documentData += `<div class="col-2"><div class="photo-box shadow" id="CompDocuments_Img_${i}" onclick="showImageInPopupPdf(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(${data[i].FileName}), url('/default/img/pdf.png')"></div></div>`;
                }

                if (data[i].FileName2 == undefined) {
                    documentData += `<div class="col-2"><div class="photo-box shadow" id="CompDocuments_Img2_${i}" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;"></div></div>`;
                }
                else {
                    documentData += `<div class="col-2"><div class="photo-box shadow" id="CompDocuments_Img2_${i}" onclick="showImageInPopupPdf(this)" data-toggle="modal" data-target="#photViewer" style="background:#eee no-repeat center center;background-image:url(${data[i].FileName2}), url('/default/img/pdf.png')"></div></div>`;
                }

                documentData +=`
                                                    </div>
                                            </div>
                                        </div>
                    <div class='col-md-3'>
                        <div class="form-group form-group-default">
                            <label>Document No</label>
                            <input type="text" class="form-control" name="CompanyDocuments[${i}].DocumentNumber" value="${data[i].DocumentNumber}"/>
                        </div>
                    </div>
                    <div class='col-md-3'>
                        <div class="form-group form-group-default">
                            <label>Expires On</label>
                            <input type="date" min="@ViewData["Today"]" class="form-control" name="CompanyDocuments[${i}].ExpiresOn" ${expireson}/>
                        </div>
                    </div>`;
            }

            $("#divCompanyDocuments").html(documentData);
        }

        //#endregion

        addPassengerItem = function (tableId) {
            addTableRow(tableId, 'Passengers', gridPassengers);
            $("#PassengerEmployeeID").focus();
        };

    });

</script>

