@page "/requester/{id}"
@model Louvre.Pages.RequesterModel
@{
    ViewData["Title"] = "Requester";
    ViewData["ParentMenu"] = "Account";
    ViewData["PageURL"] = "requester";
    ViewData["MasterPageURL"] = "requesters";
}


<div class="main-panel">
    <div class="content">
        <div class="page-inner">
            <partial name="_BreadCrumb" />


            <form method="post" id="formBasic" enctype="multipart/form-data">

                <div class="row">
                    <div class="col-md-9">

                        <div class="card card-with-nav">
                            <div class="card-header">
                                <div class="row row-nav-line">
                                    <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                        <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">@ViewData["Title"]</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <input type="hidden" asp-for="Data.UserID" />
                                <input type="hidden" asp-for="PersonalInfo.PersonalInfoID" />
                                <div class="row">
                                    <div class="col-md-6" id="divPerson" style="display:none">
                                        <div class="form-group">
                                            <label for="txtName" class="placeholder"><b>Name</b></label>
                                            <input asp-for="PersonalInfo.FirstName" id="txtName" type="text" class="form-control" autofocus>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="txtCompany" class="placeholder"><b>Company Name</b></label>
                                            <input asp-for="Company.CompanyID" type="hidden">
                                            <input asp-for="Company.CompanyName" id="txtCompany" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <labels for="PersonalInfo_Email1" class="placeholder"><b>Email</b></labels>
                                            <input type="email" class="form-control" asp-for="PersonalInfo.Email1" onfocus="this.removeAttribute('readonly');">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="PersonalInfo_Phone1" class="placeholder"><b>Mobile</b></label>
                                            <input type="tel" class="form-control" asp-for="PersonalInfo.Phone1">
                                        </div>
                                    </div>
                                    <div class='col-md-4'>
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" type="checkbox" asp-for="Data.LoginStatus">
                                                <span class="form-check-sign">Can Login</span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-md-12 overflow-table">
                                        <table id="gridFields" class="table table-bordered table-head-bg-info table-bordered-bd-info mt-4" role="grid" aria-describedby="add-row_info">
                                            <thead>
                                                <tr>
                                                    <th>Module</th>
                                                    <th>Can Access</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @for (int i = 0; i < Model.UserModules.Count(); i++)
                                                {
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" asp-for="UserModules[i].UserModuleID" />
                                                            <input type="hidden" asp-for="UserModules[i].ModuleID" />
                                                            <select class="form-control" disabled asp-for="UserModules[i].ModuleID" asp-items="ViewBag.Modules">
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input class="form-control" type="checkbox" asp-for="UserModules[i].CanAccess">
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card card-with-nav">
                            <div class="card-header">
                                <div class="row row-nav-line">
                                    <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                                        <li class="nav-item"> <a class="nav-link" role="tab" aria-selected="true">Documents (Supported Types: Jpg, Png, Pdf)</a> </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">

                                    @for (int i = 0; i < Model.Documents.Count; i++)
                                    {

                                        <div class="col-md-4">
                                            <div class="card card-profile card-secondary">
                                                <div class="card-header" id="ReqDocuments_Img_@i" onclick="showImageInPopup(this)" data-toggle="modal" data-target="#photViewer" style="background-image: url('@Model.Documents[i].FileName')">

                                                </div>
                                                <div class="card-body">
                                                    <div class="user-profile text-center">
                                                        <div class="job">@Model.Documents[i].DocumentTypeName</div>
                                                        <div class="job">@Model.Documents[i].DocumentNumber</div>

                                                        @if (@Model.Documents[i].ExpiresOn != null)
                                                        {
                                                            if (@Model.Documents[i].ExpiresOn.Value < DateTime.UtcNow)
                                                            {
                                                                <div class="desc" style="color:red;">
                                                                    @Model.Documents[i].ExpiresOn.Value.ToShortDateString()
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                <div class="desc">
                                                                    @Model.Documents[i].ExpiresOn.Value.ToShortDateString()
                                                                </div>
                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="card card-with-nav">
                            <div class="card-body">
                                    <partial name="_MessagePartial" />
                                    <div class="text-right">
                                        <button type="button" id="btnSave" class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(function () {

        $(document).ready(function () {
            var userData = @Html.Raw(Json.Serialize(Model.Data));
            if (userData.UserTypeID == "9")
                companySelected();
            else
                individualSelected();

        });

        companySelected = function () {
            $('#divPerson').hide();
            $('#txtCompany').focus();
            $('#txtName').removeAttr('required');
        };

        individualSelected = function () {
            $('#divPerson').show();
            $('#txtName').focus();
            $('#txtName').attr('required', true);
        };


        $('#btnSave').click(function (evt) {
            PostForm(evt, '/@ViewData["PageURL"]/1?handler=save', '#formBasic', "saved");
        });

        saved = function (data) {
            successMessage(data.ResponseMessage, data.ResponseTitle,'@ViewData["MasterPageURL"]');
        }
    });
</script>
